In [111]:
#load data from march_madness_pre.db into a dataframe
import pandas as pd
import sqlite3
conn = sqlite3.connect('march_madness.db')
c = conn.cursor()
df = pd.read_sql_query("SELECT * FROM march_madness_team_pts", conn)
df

,sim_id,mississippi_state_pts,pittsburgh_pts,arizona_state_pts,nevada_pts,texas_southern_pts,fairleigh_dickinson_pts,texas_am_corpus_christi_pts,southeast_missouri_state_pts,kansas_pts,howard_pts,arkansas_pts,illinois_pts,saint_marys_pts,vcu_pts,connecticut_pts,iona_pts,tcu_pts,gonzaga_pts,grand_canyon_pts,northwestern_pts,boise_state_pts,ucla_pts,unc_asheville_pts,houston_pts,northern_kentucky_pts,iowa_pts,auburn_pts,miami_pts,drake_pts,indiana_pts,kent_state_pts,iowa_state_pts,xavier_pts,kennesaw_state_pts,texas_am_pts,penn_state_pts,texas_pts,colgate_pts,purdue_pts,memphis_pts,florida_atlantic_pts,duke_pts,oral_roberts_pts,tennessee_pts,louisiana_pts,kentucky_pts,providence_pts,kansas_state_pts,montana_state_pts,michigan_state_pts,usc_pts,marquette_pts,vermont_pts,alabama_pts,maryland_pts,west_virginia_pts,san_diego_state_pts,charleston_pts,virginia_pts,furman_pts,creighton_pts,north_carolina_state_pts,baylor_pts,uc_santa_barbara_pts,missouri_pts,utah_state_pts,arizona_pts,princeton_pts
0,CYJ7J3DFWB,0,4,2,0,0,5,0,0,3,0,6,0,2,0,9,0,1,4,0,1,0,13,0,28,0,0,3,6,0,2,0,0,4,0,0,4,8,0,0,0,5,3,0,20,0,1,0,4,0,13,0,2,0,17,1,0,5,0,0,3,5,0,2,0,2,0,0,13
1,NVBL3XHXSS,0,4,2,0,0,5,0,0,3,0,6,0,2,0,9,0,1,4,0,1,0,22,0,14,0,0,3,6,0,2,0,0,4,0,0,4,8,0,0,0,16,3,0,4,0,1,0,8,0,6,0,2,0,30,1,0,5,0,0,3,9,0,2,0,2,0,0,8
2,QY9O45ZDIV,0,4,2,0,0,5,0,0,3,0,6,0,2,0,23,0,1,4,0,1,0,10,0,5,0,0,3,11,0,2,0,0,4,0,0,4,13,0,0,0,35,3,0,4,0,1,0,4,0,11,0,2,0,7,1,0,10,0,0,3,16,0,2,0,2,0,0,8
3,Y3ALREFBQ3,0,4,2,0,0,5,0,0,3,0,12,0,2,0,6,0,1,4,0,1,0,24,0,12,0,0,3,6,0,2,0,0,4,0,0,4,8,0,0,0,35,3,0,4,0,1,0,4,0,11,0,2,0,7,1,0,14,0,0,3,8,0,2,0,2,0,0,8
4,87ZCYL0R3X,0,4,2,0,0,5,0,0,3,0,17,0,2,0,6,0,1,9,0,1,0,6,0,33,0,0,3,6,0,2,0,0,4,0,0,4,9,0,0,0,5,3,0,15,0,1,0,7,0,6,0,2,0,20,1,0,5,0,0,3,9,0,2,0,2,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16545,7WWNCBTJ4N,0,4,2,0,0,5,0,0,3,0,6,0,2,0,9,0,1,4,0,1,0,13,0,30,0,0,3,6,0,2,0,0,11,0,0,4,5,0,0,0,5,3,0,7,0,1,0,18,0,6,0,2,0,7,1,0,11,0,0,3,15,0,2,0,2,0,0,8
16546,69REMOP3WD,0,4,2,0,0,5,0,0,3,0,12,0,2,0,6,0,1,32,0,1,0,6,0,5,0,0,3,13,0,2,0,0,4,0,0,4,13,0,0,0,5,3,0,7,0,1,0,4,0,25,0,2,0,15,1,0,5,0,0,3,5,0,2,0,2,0,0,13
16547,5TSNXI9BIZ,0,4,2,0,0,5,0,0,3,0,6,0,2,0,10,0,1,4,0,1,0,14,0,20,0,0,3,6,0,2,0,0,10,0,0,4,5,0,0,0,5,3,0,9,0,1,0,4,0,19,0,2,0,35,1,0,5,0,0,3,5,0,2,0,2,0,0,13
16548,JF1NFB7G7F,0,4,2,0,0,5,0,0,3,0,6,0,2,0,18,0,1,9,0,1,0,6,0,23,0,0,3,6,0,2,0,0,4,0,0,4,8,0,0,0,5,3,0,31,0,1,0,4,0,11,0,2,0,10,1,0,5,0,0,3,14,0,2,0,2,0,0,8
16549,T6VIT1BF3B,0,4,2,0,0,5,0,0,3,0,6,0,2,0,10,0,1,4,0,1,0,19,0,9,0,0,3,6,0,2,0,0,4,0,0,4,14,0,0,0,10,3,0,4,0,1,0,29,0,6,0,2,0,7,1,0,15,0,0,3,8,0,2,0,2,0,0,8

In [108]:
pd.read_sql_query("SELECT sum(Josh_win), count(*), sum(Josh_win)/count(*) FROM march_madness where final_winner in ('Tennessee', 'Florida Atlantic')", conn)

   sum(Josh_win)  count(*)  sum(Josh_win)/count(*)
0           3507      4385                       0

In [64]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 20)
df_query = pd.read_sql_query('''SELECT 
                        Josh_pts, Brant_pts, Justin_pts, Jeremy_pts, Joe_pts, Devan_pts, Nick_pts,
                        r16_w_game1, r16_w_game1_blowout,
                        r16_w_game2, r16_w_game2_blowout,
                        r16_s_game1, r16_s_game1_blowout,
                        r16_s_game2, r16_s_game2_blowout,
                        r16_e_game1, r16_e_game1_blowout,
                        r16_e_game2, r16_e_game2_blowout,
                        r16_mw_game1, r16_mw_game1_blowout,
                         r16_mw_game2, r16_mw_game2_blowout,
                        east_winner, east_winner_blowout,
                        south_winner, south_winner_blowout,
                        west_winner, west_winner_blowout,
                        midwest_winner, midwest_winner_blowout,
                        south_east_winner, south_east_winner_blowout,
                        west_midwest_winner, west_midwest_winner_blowout,
                        final_winner, final_winner_blowout
                        from march_madness
                             where final_winner not in ("Tennessee", "Florida Atlantic")
                             and Josh_win = 1
                             ''', conn)
#round values in df_query to 2 decimal places
df_query = df_query.round(2)
df_query

,Josh_pts,Brant_pts,Justin_pts,Jeremy_pts,Joe_pts,Devan_pts,Nick_pts,r16_w_game1,r16_w_game1_blowout,r16_w_game2,r16_w_game2_blowout,r16_s_game1,r16_s_game1_blowout,r16_s_game2,r16_s_game2_blowout,r16_e_game1,r16_e_game1_blowout,r16_e_game2,r16_e_game2_blowout,r16_mw_game1,r16_mw_game1_blowout,r16_mw_game2,r16_mw_game2_blowout,east_winner,east_winner_blowout,south_winner,south_winner_blowout,west_winner,west_winner_blowout,midwest_winner,midwest_winner_blowout,south_east_winner,south_east_winner_blowout,west_midwest_winner,west_midwest_winner_blowout,final_winner,final_winner_blowout
0,35,33,20,27,30,22,35,Connecticut,0,Gonzaga,0,Alabama,1,Creighton,0,Tennessee,0,Kansas St.,0,Houston,3,Texas,0,Tennessee,1,Alabama,0,Gonzaga,0,Texas,0,Tennessee,0,Gonzaga,0,Gonzaga,0
1,39,33,20,24,38,20,38,Arkansas,1,Gonzaga,0,Alabama,3,Creighton,1,Tennessee,0,Kansas St.,0,Houston,1,Texas,2,Tennessee,2,Alabama,0,Gonzaga,0,Texas,0,Tennessee,3,Gonzaga,0,Gonzaga,0
2,40,38,17,27,37,19,38,Connecticut,0,Gonzaga,1,Alabama,0,Creighton,1,Florida Atlantic,1,Michigan St.,1,Houston,0,Texas,0,Florida Atlantic,2,Creighton,1,Gonzaga,0,Texas,1,Florida Atlantic,1,Gonzaga,1,Gonzaga,3
3,36,34,26,29,27,23,35,Arkansas,1,Gonzaga,0,Alabama,1,Princeton,0,Tennessee,1,Kansas St.,1,Houston,0,Xavier,0,Tennessee,0,Alabama,3,Gonzaga,0,Houston,0,Tennessee,1,Gonzaga,1,Gonzaga,0
4,36,36,25,28,24,34,24,Connecticut,1,Gonzaga,1,San Diego St.,0,Princeton,0,Tennessee,0,Kansas St.,0,Houston,0,Texas,0,Tennessee,2,San Diego St.,0,Gonzaga,1,Houston,2,Tennessee,2,Gonzaga,0,Gonzaga,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,37,34,17,31,31,25,37,Arkansas,0,Gonzaga,0,Alabama,0,Creighton,1,Florida Atlantic,0,Michigan St.,0,Houston,1,Xavier,2,Florida Atlantic,1,Creighton,0,Gonzaga,0,Houston,1,Florida Atlantic,0,Gonzaga,1,Gonzaga,0
83,38,33,21,24,31,30,35,Arkansas,1,Gonzaga,0,San Diego St.,0,Creighton,2,Florida Atlantic,1,Kansas St.,1,Houston,1,Texas,1,Florida Atlantic,0,Creighton,0,Gonzaga,0,Houston,1,Florida Atlantic,1,Gonzaga,0,Gonzaga,0
84,37,37,27,29,26,24,34,Arkansas,0,Gonzaga,0,Alabama,1,Princeton,0,Florida Atlantic,0,Kansas St.,2,Houston,0,Xavier,0,Florida Atlantic,0,Alabama,2,Gonzaga,2,Houston,1,Florida Atlantic,1,Gonzaga,1,Gonzaga,1
85,35,34,22,30,32,20,34,Connecticut,3,Gonzaga,0,Alabama,0,Creighton,0,Tennessee,0,Kansas St.,2,Houston,1,Texas,2,Tennessee,1,Alabama,0,Gonzaga,0,Texas,0,Tennessee,0,Gonzaga,1,Gonzaga,0
86,37,37,17,33,26,32,33,Connecticut,1,Gonzaga,1,San Diego St.,2,Creighton,0,Florida Atlantic,1,Michigan St.,0,Houston,1,Xavier,0,Florida Atlantic,0,Creighton,0,Gonzaga,1,Houston,1,Florida Atlantic,0,Gonzaga,1,Gonzaga,1

In [38]:
joe_best = pd.read_sql_query('''SELECT 
                        r16_w_game1, r16_w_game2,
                        r16_s_game1, r16_s_game2,
                        r16_e_game1, r16_e_game2,
                        r16_mw_game1, r16_mw_game2,
                        east_winner, south_winner, west_winner,  midwest_winner, 
                        south_east_winner, west_midwest_winner, final_winner,
                        Devan_Pts
                        FROM march_madness_pre
                        where Devan_pts = (select max(Devan_pts) from march_madness_pre)''', conn)
#round values in df_query to 2 decimal places
joe_best

,r16_w_game1,r16_w_game2,r16_s_game1,r16_s_game2,r16_e_game1,r16_e_game2,r16_mw_game1,r16_mw_game2,east_winner,south_winner,west_winner,midwest_winner,south_east_winner,west_midwest_winner,final_winner,Devan_pts
0,Kansas,UCLA,West Virginia,Utah St.,Memphis,Vermont,Houston,Texas,Vermont,Utah St.,UCLA,Houston,Utah St.,UCLA,UCLA,111

In [109]:
df_query = pd.read_sql_query('''SELECT 
                    avg(Devan_win) DevWP, avg(Jeremy_win) JerWP, avg(Joe_win) JoeWP, avg(Brant_win) BraWP, avg(Justin_win) JusWP, avg(Josh_win) JoshWP, avg(Nick_win) NickWP,
                    avg(Devan_pts) DevPts, avg(Jeremy_pts) JerPts, avg(Joe_pts) JoePts, avg(Brant_pts) BraPts, avg(Justin_pts) JusPts, avg(Josh_pts) JoshPts, avg(Nick_pts) NickPts
                        FROM march_madness
                        where final_winner = "Princeton"''', conn)
#round values in df_query to 2 decimal places
df_query = df_query.round(2)
df_query

,DevWP,JerWP,JoeWP,BraWP,JusWP,JoshWP,NickWP,DevPts,JerPts,JoePts,BraPts,JusPts,JoshPts,NickPts
0,0.0,0.0,0.14,0.0,1.0,0.0,0.0,35.43,31.29,32.86,11.57,49.86,24.29,24.86